html, body, main, section, header, h1, h2,ul, li, button, label, input, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  background: transparent;
  font: inherit;
  box-sizing: border-box;
  text-align: inherit;
}

ul {
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  width: 100%;
}

input[type="number"] {
  display: block;
  width: 100%;
  text-align: right;
  background: #F7F7F7;
  padding: 15px 20px;
  font-size: 40px;
  color: #4A4A4A;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  position: relative;
}

label:before {
  font-size: 40px;
  display: block;
  position: absolute;
  top: 15px;
  left: 20px;
  content: "$";
  color: #ccc;
  z-index: 1;
}

h1 {
  font-size: 15px;
  color: #ccc;
  text-transform: uppercase;
  padding: 10px 0 10px 20px;
}

.group:after {
  content:"";
  display: block;
  clear: both;
}

body {
  font-family: "proxima-nova",sans-serif;
  font-weight: bold;
  font-size: 25px;
  background: #333;
}

.container {
  margin: 0 auto;
  max-width: 450px;
  background: white;
  padding: 15px 0 0 0;
}

.bill {

}

.bill header {

}

.bill h1 {
  float: left;
}

.bill button {
  float: right;
  font-size: 15px;
  text-transform: uppercase;
  color: #0000ff;
  padding: 10px 38px 15px 20px;
  position: relative;
  width: 110px;
}

.bill button:after {
  content: "×";
  font-size: 12px;
  color: white;
  display: block;
  position: absolute;
  right: 24px;
  top: 11px;
}

.bill button:before {
  content: "";
  background: #0000ff;
  padding: 7px 7px;
  border-radius: 100px;
  font-size: 5px;
  position: absolute;
  right: 20px;
  top: 11px;
}

.percent-number {
  padding: 25px 20px;
  position: relative;
}

.percent-number-output {
  color: #ccc;
  float: left;
  display: block;
}

.percent-number-output:after {
  content: "%";
}

.percent-slider {
   -webkit-appearance: none;
   margin: 10px 0 0 0;
   float: right;
   display: block;
   width: 75%;
}

.percent-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    background: #0000ff;
    cursor: pointer;
    position: relative;
    top: -8px;
    left: 0;
}

.percent-slider::-webkit-slider-runnable-track {
  background: #eee;
  border-radius: 100px;
  cursor: pointer;
  height: 8px;
}

.percent-numbers button {
  padding: 20px;
  color: #0000ff;
  text-align: center;
  display: block;
}

.percent-numbers li:first-child button {
  padding-right: 25px;
}

.percent-numbers li:nth-child(2) button {
  padding-left: 25px;
}

.percent-numbers {
  text-align: center;
}

.percent-numbers li:first-child {
  float: left;
}

.percent-numbers li:nth-child(2) {
  float: right;
}


.percent-numbers li:last-child {
  display: inline-block;
}

.percent-numbers button:hover,
.percent-numbers button.active {
  background: #0000ff;
  color: white;
}

.tip h1 {
  padding-top: 25px;
}

.round button {
  float: left;
  position: relative;
  padding: 20px 20px 20px 50px;
  color: #0000ff;
  text-transform: uppercase;
  font-size: 23px;
  width: auto;
}

.round button:first-child {
  padding-right: 25px;
}

.round button:last-child {
  padding-left: 55px;
}

.round button:hover,
.round button.active {
  background: #0000ff;
  color: white;
}

.round button:first-child:before,
.round button:last-child:before {
  display: block;
  position: absolute;
}

.round button:first-child:before {
  content: "▲";
  -webkit-transform: rotate(180deg);
  left: 20px;
}

.round button:last-child:before {
  content: "▲";
  left: 25px;
}

.round button:last-child {
  float: right;

}

.total {

}

.total h1 {
  padding-top: 25px;
}

.total input {

}